# Angular
TouristGuide/node_modules/
TouristGuide/dist/
TouristGuide/.angular/cache/

# Python
TouristPy/venv/
TouristPy/.venv/
TouristPy/__pycache__/
TouristPy/*.pyc

# Secrets (Το πιο σημαντικό)
.env
**/ .env
TouristPy/.env

# IDEs
.vscode/
.history/