<body>
<div class="box">
  <form action="">
    <h1>Σύνδεση</h1>
    <div class="input-box">
      <input type="text" placeholder="Όνομα Χρήστη" required>
    </div>

    <div class="input-box">
      <input type="password" placeholder="Κωδικός Πρόσβασης" required>
    </div>

    <div class="rememberme">
      <label><input type="checkbox">Συγκράτησε τον κωδικό</label>
    </div>
    <button type="submit" class="btn">Σύνδεση</button>
    <div class="signup">
      <p> Δεν έχετε λογαριασμό;
        <a routerLink="/signup" ><Em>Εγγραφείτε Εδώ</Em></a>
      
    </div>
  </form>

</div>
</body>