<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a routerLink="/" class="navbar-logo">TouristGuide </a>    
            <button 
            class="navbar-toggle"
            [class.active]="menuOpen"
            (click)="toggleMenu()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <ul class="navbar-menu" [class.active]="menuOpen">
                <li><a routerLink="/signup" ><Em>Εγγραφή</Em></a></li>
                <li><a routerLink="/login" >Σύνδεση</a></li>
                <li><a routerLink="/contact" >Επικοινωνία</a></li>
            </ul>
        </div>
    </nav>
</body>
