<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a routerLink="/" class="navbar-logo">TouristGuide </a>    
            <button 
            class="navbar-toggle"
            [class.active]="menuOpen"
            (click)="toggleMenu()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <ul class="navbar-menu" [class.active]="menuOpen">
                <li><a routerLink="/signup" >Το Ταξίδι σου</a></li>
                <li><a routerLink="/login" >Ετκιμώμενο κόστος</a></li>
                <li><a routerLink="/contact" >Κριτικές-Προτάσεις Χρηστών</a></li>
                <li><a routerLink="/contact" >Διαδρομή/Χρόνος</a></li>
               
                <div class="user-menu" (click)="toggleDropMenu()" tabindex="0">
                    <i class="fas fa-user-circle fa-2x"></i>
                    <ul class="dropdownmenu" *ngIf="dropdownOpen">
                    <li><a routerLink="/">Ιστορικό</a></li>
                    <li><a routerLink="/">Αγαπημένα</a></li>
                    <li><a routerLink="/">Επικοινωνία</a></li>
                    <li><a routerLink="/">Αποσύνδεση</a></li>
                    </ul>
                </div>

            </ul>
        </div>
    </nav>

    <div class="box-containers">
        <div class="box" *ngFor="let item of items">
            <h3>{{ item.title }}</h3>
            <p>{{ item.content }}</p>

        </div>

    </div>
    

</body>

